In [1]:
import numpy as np
import pandas as pd

# US 1.2

In [3]:
import mysql.connector

# Connect to database
conn = mysql.connector.connect(
    host="104.131.14.255",
    user="malone",
    password="malone",
    database="mpa"
)
print("Connected")

# Find all table
cursor = conn.cursor()
cursor.execute("SHOW TABLES;")
print("All tables in current database:")
for table in cursor.fetchall():
    print(table[0])
print("\n")

# Get data
query = "SELECT * FROM ownership"
owner_df = pd.read_sql(query, conn)

query = "SELECT * FROM population"
pop_df = pd.read_sql(query, conn)

# Close connection
cursor.close()
conn.close()

Connected
All tables in current database:
ownership
population
segments
sensors
zone_segment_bridge
zones

C:\Users\malon\AppData\Local\Temp\ipykernel_24908\1000699468.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  owner_df = pd.read_sql(query, conn)
C:\Users\malon\AppData\Local\Temp\ipykernel_24908\1000699468.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pop_df = pd.read_sql(query, conn)

In [ ]:
# import plotly.express as px

# # Read file
# pop_df = pd.read_excel("C:\\Users\\malon\\Desktop\\5120\\melb-cbd-parking\\data\\epic1_population.xlsx", sheet_name="Table 1", header=7)
# # Extract useful columns
# pop_df = pop_df[["SA3 code", "SA3 name", 'no.',
#        'no..1', 'no..2', 'no..3', 'no..4', 'no..5', 'no..6', 'no..7', 'no..8',
#        'no..9', 'no..10', 'no..11', 'no..12', 'no..13', 'no..14', 'no..15',
#        'no..16', 'no..17', 'no..18', 'no..19', 'no..20']]
# pop_df = pop_df.iloc[1:] # remove empty row
# # Rename columns
# pop_df.columns = ["SA3_code", "SA3_name", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", 
#                   "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"]
# # Extract rows with Melbourne City
# pop_df = pop_df[pop_df["SA3_name"] == "Melbourne City"]
# pop_df.head(5)

,SA3_code,SA3_name,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
770,20604.0,Melbourne City,9529.0,10022.0,10611.0,11224.0,11924.0,12737.0,13509.0,14133.0,...,15605.0,16719.0,17843.0,18983.0,20242.0,20669.0,20869.0,21088.0,20943.0,17198.0
771,20604.0,Melbourne City,154.0,926.0,1913.0,3089.0,3779.0,4152.0,4592.0,5040.0,...,6802.0,7988.0,9170.0,10444.0,11832.0,13923.0,15439.0,16375.0,16678.0,15942.0
772,20604.0,Melbourne City,3731.0,3859.0,4243.0,4460.0,4495.0,4555.0,4806.0,5055.0,...,5280.0,5333.0,5374.0,5411.0,5475.0,5495.0,5409.0,5413.0,5378.0,4962.0
773,20604.0,Melbourne City,37.0,42.0,46.0,50.0,56.0,63.0,68.0,73.0,...,87.0,88.0,89.0,90.0,91.0,88.0,86.0,83.0,81.0,78.0
774,20604.0,Melbourne City,7686.0,8007.0,8155.0,8605.0,8830.0,9013.0,9481.0,9828.0,...,10487.0,10762.0,11030.0,11291.0,11530.0,11535.0,11485.0,11600.0,11402.0,10874.0

In [ ]:
# # Group and sum population
# total_pop = pop_df.groupby(["SA3_code", "SA3_name"]).sum(numeric_only=True).reset_index()

# # Reshape to long format
# total_pop = total_pop.melt(
#     id_vars=["SA3_code", "SA3_name"],
#     var_name="Year",
#     value_name="Population"
# )

# # Convert Year to integer
# total_pop["Year"] = total_pop["Year"].astype(str)
# total_pop["Population"] = total_pop["Population"].astype(int)
# total_pop = total_pop[['Year', 'Population']]
# total_pop

    Year  Population
0   2001       55399
1   2002       60592
2   2003       66149
3   2004       71532
4   2005       76197
5   2006       80154
6   2007       85141
7   2008       89792
8   2009       94330
9   2010       97578
10  2011      100228
11  2012      107573
12  2013      118707
13  2014      127975
14  2015      136873
15  2016      146099
16  2017      155992
17  2018      163449
18  2019      169106
19  2020      170785
20  2021      153655

In [ ]:
# Export processed file
# total_pop.to_csv("C:\\Users\\malon\\Desktop\\5120\\melb-cbd-parking\\data\\epic1_processed_population.csv", index=False)

In [5]:
import plotly.express as px
import chart_studio.plotly as py
import chart_studio.tools as tls

# Set credentials
tls.set_credentials_file(username='Ho0212', api_key='m21iXMpY9ZjIZ0yy4RjF')


# Create figure
fig = px.bar(
    pop_df,
    x="Year",
    y="Population",
    title="Population in Melbourne's CBD (2001â€“2021)",
    hover_data={"Year": True, "Population": True}
)

# Show locally (optional)
fig.show()

# Upload to Chart Studio
py.plot(fig, filename="melbourne_cbd_population", auto_open=True)

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['year', 'population'] but received: Year

# US 1.1

In [7]:
# Read File
owner_df = pd.read_excel("C:\\Users\\malon\\Desktop\\5120\\melb-cbd-parking\\data\\epic1_ownership.xls", sheet_name="Table_9", skiprows=4)
owner_df = owner_df.iloc[1:]
owner_df

,Unnamed: 0,New South Wales,Victoria,Queensland,South Australia,Western Australia,Tasmania,Northern Territory,Australian Capital Territory,Australia
1,PASSENGER VEHICLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,To 2005,883892,876022,657703,329530,389399,117807,20287,46891,3321531
3,2006 - 2010,923868,871435,659058,251893,410104,77273,22143,56708,3272482
4,2011 - 2015,1257827,1120245,829592,285871,464078,80342,28501,79144,4145600
5,2016 - 2021,1339086,1103142,828876,263905,389761,74537,29745,82010,4111062
...,...,...,...,...,...,...,...,...,...,...
59,2016 - 2021,1812007,1446565,1197458,353907,535672,108845,47299,100032,5601785
60,Total,5892206,5157172,4303713,1477899,2314712,516451,162641,318148,20142942
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Â© Commonwealth of Australia 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
total_df = owner_df.iloc[54:59, :].iloc[1:]
total_df.rename(columns={total_df.columns[0]: "Year"}, inplace=True)
total_df = total_df.melt(id_vars="Year", var_name="State", value_name="Ownership")
total_df["Ownership"] = total_df["Ownership"].astype(int)
total_df["Cumulative_Ownership"] = total_df.groupby("State")["Ownership"].cumsum()
total_df = total_df[total_df["State"] == "Victoria"]
total_df = total_df[["Year", "Cumulative_Ownership"]]
total_df

          Year  Cumulative_Ownership
4      To 2005               1206522
5  2006 - 2010               2315265
6  2011 - 2015               3710607
7  2016 - 2021               5157172

In [ ]:
# Export processed file
# total_df.to_csv("C:\\Users\\malon\\Desktop\\5120\\melb-cbd-parking\\data\\epic1_processed_ownership.csv", index=False)

In [36]:
import plotly.express as px
import chart_studio.plotly as py
import chart_studio.tools as tls
import plotly.graph_objs as go

# Set credentials
tls.set_credentials_file(username='Ho0212', api_key='m21iXMpY9ZjIZ0yy4RjF')


# Create bar trace
bar_trace = go.Bar(
    x=total_df['Year'],
    y=total_df['Cumulative_Ownership'],
    name='Cumulative Ownership (Bar)',
    hoverinfo='x+y',
    marker=dict(color='skyblue')
)

# Create line trace
line_trace = go.Scatter(
    x=total_df['Year'],
    y=total_df['Cumulative_Ownership'],
    name='Cumulative Ownership (Line)',
    mode='lines+markers',
    hoverinfo='x+y',
    line=dict(color='darkblue', width=2),
    marker=dict(size=8)
)

# Combine the traces
fig = go.Figure(data=[bar_trace, line_trace])

# Update layout
fig.update_layout(
    title='Cumulative Vehicle Ownership Over Time',
    xaxis_title='Year',
    yaxis_title='Number of Vehicles',
    hovermode='x unified'
)

# Show locally (optional)
fig.show()

# Upload to Chart Studio
py.plot(fig, filename="Car_Ownership", auto_open=True)

'https://chart-studio.plotly.com/~Ho0212/20/'